html{
  max-width: 100%;
  max-height: 100%;
  overflow: scroll;
}

body {
  background-image: url('https://wallpaperaccess.com/full/366025.jpg');
  background-size: cover;
  

}
h1{
  color: grey;
  display: flex;
  justify-content: center;
  font-size: 44px;
}
.container{
  /* max-width: 100% */
  display: flex;
  /* flex: 100% */
  /* width: 100%;
  height: 100%; */
  justify-content: center;
  justify-content: space-evenly;
  padding-top: 100px;
}
.images{
  height: 250px;
  width: 250px;
  /* border: solid;
  border-color:rgba(180, 180, 180, 0.5) */
}

.buttons{
background-color: rgba(46, 49, 49, 0.7);
font-size: 30px;
display: flex;
display: inline-flex;
margin: 10px 0px 0px 193px;
color: grey;
}
.buttonChange{
  height: 325px;
  width: 325px;
  border: solid;
  border-color: red;
}

.formClass{
  display: block;
  text-align: center;
}
.dateInputClass{
display: inline-block;
margin-top: 40px;
height: 30px;
text-align: center;
background-color: rgba(180, 180, 180, 0.5);
font-size: 18px;
outline: solid;
outline-color: white;
color: white;
}
#dateInput1{
  width: 275px;
}

#dateInputButton{
/* margin-left: -4px; */
width: 85px;
height: 35px;
}
/* .objectDataFieldTitle{
  display: flex;
  justify-content: center;
   */
/* } */
.objectDataFieldClass{
  height: 500px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  border: solid 3px orange;
  color: white;
  background-image: url('https://www.wallpaperflare.com/static/396/762/488/photography-artwork-meteor-shower-wallpaper.jpg');
  background-size: cover;
  /* justify-content: ; */
}
#objectDataFieldTitle{
  width: 100%;
  font-size: 40px;
  display:flex;
  justify-content: center;
  border: solid 3px blue;
}

#objectDataField{
  display:  flex;
  white-space: pre-wrap;
  font-size: 20px;
  height: 40%;
  border: solid 3px red;

}

.objectPicture{
  display: flex;
  border: green 8px solid;
  height: 250px;
  width: 250px;
}